
.container {
    max-width: 70%;  
  }

h1, p {
    color: #306B67;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: justify;
}

h2 {
    color: #A4E6E2;
}

header {
    background-color: #F2FBFB;
}

footer {
    background-color: #306B67;
    height: 20%;  
    margin-top: 20px;
}

footer p {
    color: white;
    font-size: 14px;
    font-style: italic;
}

footer a.btn.btn-primary, a.btn:first-child:active {
    background-color: #306B67;
    border-color: #306B67;
}

.navbar, .navbar a {
    background-color: #306B67;
    color: #F2FBFB; 
}

